@using b2b_solution.Models;
@using System.Data;

@{
    ViewBag.Title = "AmountDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataModel dm = new DataModel();
}
<main class="main">

    @{
        DataTable dtPrmHeaad = dm.loadList("SelPromoByID", "sp_B2B_Promotions", ViewBag.PrmID);
        ViewBag.ashID = dtPrmHeaad.Rows[0]["prm_ash_ID"].ToString();
    }

    <div class="page-header mt-30 mb-25">
        <div class="container">
            <div class="archive-header" style="background-image:url(../Content/imgs/promotion/bg-head.png) !important; padding:20px ">
                <div class="row align-items-center">
                    <div class="col-xl-6">
                        <h2 class="mb-15">@dtPrmHeaad.Rows[0]["prm_Name"].ToString()</h2>
                        <div class="breadcrumb">
                            <a href="#" rel="nofollow">@dtPrmHeaad.Rows[0]["prt_Name"].ToString()</a>
                        </div>
                    </div>
                    <div class="col-xl-6 text-end d-none d-xl-block">
                        <ul class="tags-list">
                            <li class="hover-up">
                                <div class="deals-countdown-wrap">
                                    <div class="deals-countdown" data-countdown="@dtPrmHeaad.Rows[0]["rcp_EndDate"].ToString()"></div>
                                </div>
                            </li>
                        </ul>

                        <ul class="tags-list mt-10">
                            <li class="hover-up">
                                <strong>Start Date: @dtPrmHeaad.Rows[0]["rcp_FromDate"].ToString() | End Date: @dtPrmHeaad.Rows[0]["EndDate"].ToString() </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section-padding pb-5 pt-5">
        <div class="container">
            <div class="section-title wow animate__animated animate__fadeIn" style="margin-bottom:10px" data-wow-delay="0">
                <h4 class="">Promotion Range </h4>
            </div>
            <div class="row">
                @{
                    DataTable dtRange = dm.loadList("SelPromoRange", "sp_B2B_Promotions", ViewBag.PrmID);
                    string prrID = "";
                    foreach (DataRow dr in dtRange.Rows)
                    {
                        prrID += dr["prr_ID"].ToString() + "-";
                        <div class="col-xl-3 col-lg-4 col-md-6 ">

                            <div class="product-content-wrap border p-3" id="Rng-@dr["prr_ID"]" style="border-radius:15px">

                                <div class="deals-content">
                                    <br />
                                    <h5><a href="#">@dr["desc1"].ToString()</a></h5>
                                    <div>
                                        <strong class="font-small text-muted"> With purchase of</strong>
                                        <br />
                                        <span class="font-small" style="color:orange !important"> @dr["desc2"].ToString()</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </section>

    <section class="section-padding pb-5">
        <div class="container">
            <div class="section-title wow animate__animated animate__fadeIn" style="margin-bottom:10px" data-wow-delay="0">
                <h4 class="mb-5">
                    Qualified Items
                    <i class="fi-rs-info" onclick="showQtext()" style="font-size:15px"></i>
                </h4>
            </div>

            <div class="col-lg-6" id="QInfo" style="display:none">
                <ul class="ulprop">
                    <li>
                        This promotion is applicable for item wise
                    </li>
                    <li>
                        Eg:- if you buy 1-10 pcs you will be eligible for 5AED off for that item
                    </li>
                    <li>
                        <b>Below are the eligible items for this promotion</b> 
                    </li>
                </ul>
            </div>
            <div class="row">
                @{
                    string[] arr = { Session["userID"].ToString(), ViewBag.PrmID };
                    DataTable dtQItems = dm.loadList("SelAmountPromobyID", "sp_B2B_Promotions",  Session["CusID"].ToString(), arr);
                    ViewBag.QProducts = dtQItems;
                    Html.RenderPartial("QtyAmtProducts");
                }
            </div>
        </div>
    </section>
</main>

<script>

    $(document).ready(function () {
        showtext();
    });

    function showtext() {

        $('#assgInfo').show("slow");
        setTimeout(hidetext, 10000);
    }

    function hidetext() {
        $('#assgInfo').hide("slow");
    }

    function showQtext() {

        $('#QInfo').show("slow");
        setTimeout(hideQtext, 10000);
    }

    function hideQtext() {
        $('#QInfo').hide("slow");
    }


</script>

<style>

    .ulprop {
        background-color: beige;
        border-style: groove;
        border-width: 2px;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
    }

    .countdown-section {
        border-color: green !important;
        border-style: groove !important;
        border-width: 2px !important
    }
</style>

